.header_logo{
    width: 200px;
  height: 60px;
  background-size:cover ;
    background-image: url(../../../images/logo.jpeg);
    background-size: cover;
   }

   @media (max-width: 600px) {
    .header_logo {
        width: 100px;
        height: 30px;
        background-size:cover;
    }
  }