.content__box__lessons {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

@media (max-width: 425px) {
    .content__box__lessons {
        flex-direction: column;
    }
  }