@font-face {
    font-family: Play; 
    src: url(../../../fronts/Play-Bold.ttf); 
}

.header__text{
    grid-area: text;
    font-family: 'Play', 'Century Gothic';
    font-size:45px;
    color: #444;
    margin: 0;
    text-align: right;
    padding-right: 50px;
   }

   @media (max-width: 768px) {
    .header__text {
      font-size: 38px;
      padding-right: 25px;
    }
  }

  @media (max-width: 488px) {
    .header__text {
      font-size: 33px;
      padding-right: 25px;
    }
  }

   @media (max-width: 450px) {
    .header__text {
      font-size: 25px;
      padding-right: 10px;
    }
  }